{% extends "base.html" %}
{% block title %} About Us {% endblock title %} 

{% block body %}
<div class="grid text-center">
    <div
      class="g-col-6"
      style="border-color: #f9f9f9; background-color: #f9f9f9; margin-top: 70px;"
    >
      <h6 style="padding-left: 80px; text-align: left; color: gray">
        ABOUT US
      </h6>
      <h1
        style="
          
          padding-left: 80px;
          text-align: left;
          line-height: 45px;
          width: 100%;
          font-weight: 600;
          
        "
      >
        Building a future where trust is decentralized and privacy is
        paramount.
      </h1>
      <h6 style = "text-align: justify; color: #61677A; 
           padding-right: 90px; line-height: 25px; padding-left: 80px; padding-top: 20px;">
      Forget centralized servers and fragile paper trails; 
      imagine a future where your achievements and identity reside securely on a peer-to-peer web of trust.
      With each diploma, transcript, and certificate woven into the blockchain's unbreakable fabric, trust decentralizes. 
      No longer do we rely on intermediaries or faceless databases – verification becomes a self-governing symphony, resonating across a network built on student empowerment. 
      The power to control and share your PII rests in your hands, a beacon of privacy in a world of data vulnerability.

      </h6>
      <a
        type="button"
        href="/register"
        class="btn btn-dark"
        style="
          font-size: 18px;
          font-family: Poppins;
          border-radius: 30px;
          width: 200px;
          margin-right: 380px;
          margin-top: 20px;
        "
      >
        Sign Up
      </a>
    </div>

    <div class="g-col-6" style="border-color: #f9f9f9; background-color: #f9f9f9; padding-top: 70px">
      <img src="/static/infographic.png" width="500" height="500" alt="" >
    
    </div>
  </div>



<div style = "background-color: #f9f9f9">
      <div class="grid text-center" style = "margin-top: 80px; background-color: #f9f9f9">
        <div class="g-col-6" style = "border-color: #f9f9f9; background-color: #f9f9f9; padding-top: 50px;">
          <h3
          style="
            
            text-align: justify;
            line-height: 35px;
            width: 100%;
            font-weight: 600;
            padding-left: 80px;
            padding-right: 142px;

          "
        >
        Graduate from paper trails to permanence: Claim your academic legacy with blockchain-backed credentials.
        </h3>
        </div>
        <div class="g-col-6" style = "border-color: #f9f9f9; background-color: #f9f9f9">
          <h6 style = "text-align: justify; color: #61677A; 
           padding-right: 90px; line-height: 25px; padding-top: 50px;">
           We move beyond the anxiety of data breaches and identity theft, 
           replacing it with the unwavering confidence of a tamper-proof digital legacy.
           This is the future we're building, brick by cryptographic brick. 
           A future where decentralized trust liberates students from the shackles of outdated identity systems, 
           and paramount privacy shields their information from prying eyes. Join us in this vibrant movement, 
           where education meets innovation, and every student becomes a pioneer in the dawn of a blockchain-powered, 
           privacy-centric academic odyssey.
           <br> <br> Let the whispers become a roar. Let's build a future where your story, told through an immutable blockchain, 
            echoes through the halls of time, empowering not just your academic journey, but your life itself. 
          </h6>
        </div>
      </div>

      



      <style>
          * {
            box-sizing: border-box;
          }
          
          body {
            font-family: Poppins;
          }
          
          /* Float four columns side by side */
          .column {
            float: left;
            width: 25%;
            padding: 0 10px;
          }
          
          /* Remove extra left and right margins, due to padding */
          .row {margin: 0 -5px;}
          
          /* Clear floats after the columns */
          .row:after {
            content: "";
            display: table;
            clear: both;
          }
          
          /* Responsive columns */
          @media screen and (max-width: 600px) {
            .column {
              width: 100%;
              display: block;
              margin-bottom: 20px;
            }
          }
          
          /* Style the counter cards */
          .card {
            padding: 16px;
            text-align: center;
            background-color: #F9F9F9;
            border-color: #F9F9F9;
          }
          </style>
        
      
          


            <h3 style = "padding-top: 100px; padding-left: 80px;  font-weight: 600;"> Why Blockchain? </h3>
            <h6 style = "text-align: justify; color: #61677A; 
           padding-right: 140px; line-height: 25px; padding-left: 80px;">
           Tired of paper transcripts fluttering in the wind, diplomas gathering dust in drawers, 
           and the constant fear of lost PII? We get it. College life is about breaking boundaries, 
           not scrambling for paperwork. That's where blockchain steps in, not as a futuristic mystery, 
           but as your digital guardian angel. 
           Blockchain's tamper-proof technology creates an unbreakable vault for your academic and personal records. 
           Grades, diplomas, certificates – it's all encrypted, verified, and permanently stored on a decentralized network. 
           No more worries about data breaches or misplaced documents. Your story, your rules.
           <br> <br>
           And privacy? Don't even get us started. Say goodbye to centralized systems holding your data hostage. 
           With blockchain, you control who sees what, empowering you to take charge of your digital footprint. 
           This isn't just about technology; it's about reclaiming your identity in a world increasingly hungry for information.
          </h6>
            

          
          <h3 style = "padding-top: 100px; padding-left: 80px;  font-weight: 600; background-color: #f9f9f9"> Project Contributors </h3>
          <div class="row" style = "margin-top: 30px; background-color: #f9f9f9">
            <div class="column">
              <div class="card" style = "left: 75px; background-color: #f9f9f9">
                  <img src="https://t4.ftcdn.net/jpg/03/83/25/83/360_F_383258331_D8imaEMl8Q3lf7EKU2Pi78Cn0R7KkW9o.jpg" class="card-img-top" alt="...">
                <h3 style = "padding-top: 20px; font-family: Poppins">Ananya Ghosh </h3>
                <p>Qualifications</p>
                <p>University, specifications, <br> interest areas </br></p>
              </div>
            </div>
          
            <div class="column" style = "margin-left: 170px; background-color: #f9f9f9">
              <div class="card">
                  <img src="https://t3.ftcdn.net/jpg/02/43/12/34/360_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg" class="card-img-top" alt="...">
                <h3 style = "padding-top: 20px; font-family: Poppins"> Rigved Mankame </h3>
                <p>Qualification</p>
                <p>University, specifications, <br> interest areas </br> </p>
              </div>
            </div>
            
            <div class="column" style = "margin-left: 100px; background-color: #f9f9f9">
              <div class="card">
                  <img src="https://img.freepik.com/free-photo/young-bearded-man-with-striped-shirt_273609-5677.jpg?size=626&ext=jpg&ga=GA1.1.632798143.1705881600&semt=ais" class="card-img-top" alt="...">
                <h3 style = "padding-top: 20px; font-family: Poppins">Sarthak Salokhe </h3>
                <p>Qualifications</p>
                <p>University, specifications, <br> interest areas </br></p>
              </div>
            </div>
        </div>


    </div>

        
                
        
{% endblock body%}


