{% extends "base2.html" %}
{% block title %} Dashboard {% endblock title %} 

{% block body %}

<style>
  {% comment %} checkbox {% endcomment %}
  
    .checkbox-wrapper-30 .checkbox {
      --bg: #fff;
      --brdr: #d1d6ee;
      --brdr-actv: #1e2235;
      --brdr-hovr: #bbc1e1;
      --dur: calc((var(--size, 2)/2) * 0.6s);
      display: inline-block;
      width: calc(var(--size, 1) * 22px);
      position: relative;
    }
    .checkbox-wrapper-30 .checkbox:after {
      content: "";
      width: 100%;
      padding-top: 100%;
      display: block;
    }
    .checkbox-wrapper-30 .checkbox > * {
      position: absolute;
    }
    .checkbox-wrapper-30 .checkbox input {
      -webkit-appearance: none;
      -moz-appearance: none;
      -webkit-tap-highlight-color: transparent;
      cursor: pointer;
      background-color: var(--bg);
      border-radius: calc(var(--size, 1) * 4px);
      border: calc(var(--newBrdr, var(--size, 1)) * 1px) solid;
      color: var(--newBrdrClr, var(--brdr));
      outline: none;
      margin: 0;
      padding: 0;
      transition: all calc(var(--dur) / 3) linear;
    }
    .checkbox-wrapper-30 .checkbox input:hover,
    .checkbox-wrapper-30 .checkbox input:checked {
      --newBrdr: calc(var(--size, 1) * 2);
    }
    .checkbox-wrapper-30 .checkbox input:hover {
      --newBrdrClr: var(--brdr-hovr);
    }
    .checkbox-wrapper-30 .checkbox input:checked {
      --newBrdrClr: var(--brdr-actv);
      transition-delay: calc(var(--dur) /1.3);
    }
    .checkbox-wrapper-30 .checkbox input:checked + svg {
      --dashArray: 16 93;
      --dashOffset: 109;
    }
    .checkbox-wrapper-30 .checkbox svg {
      fill: none;
      left: 0;
      pointer-events: none;
      stroke: var(--stroke, var(--border-active));
      stroke-dasharray: var(--dashArray, 93);
      stroke-dashoffset: var(--dashOffset, 94);
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 2px;
      top: 0;
      transition: stroke-dasharray var(--dur), stroke-dashoffset var(--dur);
    }
    .checkbox-wrapper-30 .checkbox svg,
    .checkbox-wrapper-30 .checkbox input {
      display: block;
      height: 100%;
      width: 100%;
    }
  
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  
  .top-left {
    position: absolute;
    top: 170px;
    left: 90px;
  }

  .style-0 {
    width: 60%;
    cursor: auto;
    font-family: Lato, sans-serif;
    color: rgb(51, 51, 51);
    font-size: 17.6px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    line-height: 26.4px;
    margin: 0px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

  .button {
    position: absolute; /* set button to an absolute position */
    top: 50%; /* adjust the top position of the button */
    left: 13%; /* adjust the left position of the button */
    transform: translate(-50%, -50%); /* center the button */
    z-index: 2; /* set a higher z-index than the image */
    background-color: #007bff; /* set your desired background color */
    color: #fff; /* set your desired text color */
    border: none; /* remove button border */
    padding: 10px 20px; /* set your desired padding */
    cursor: pointer; /* change mouse cursor on hover */
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-right: 70px;
    margin-left: 70px;
    
   }
   
   .grid-item {
    background-color: white;
    padding: 20px;
    font-size: 10px;
    text-align: center;
    height: 100px;
    border-radius: 20px;
    
   }

   .container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image {
    td, th {
      vertical-align: middle;
    }
  }


  </style>
  
  
  
  <div class="container-fluid">
    <img src="/static/dashboard.jpg" alt="" style="width:100%; height: 375px; opacity:0.5; margin-top: 20px">
    <div class="top-left" style = "font-family: Poppins; font-weight: 550; font-size: 40px;">Ready to level up your 
      <br> access control? Let's <br> do this.</div>
      <button class="button" style = "color: white; background-color: black; font-size: 16px; 
      font-family: Poppins; border-radius: 30px; width: 230px; top: 390px;">Explore Access Control</button>
  </div>

  <a class="btn btn-outline-dark"  href="/upload" role="button" style = "color: white; background-color: black; font-size: 16px; 
  font-family: Poppins; border-radius: 30px; width: 230px; margin-top: 50px; margin-left: 650px; color: #F9F9F9"> Upload Documents</a>


  <h3 style = "margin-left: 68px; margin-top: 20px; font-family: Poppins; 
  font-weight: 600; font-size: 28px;"> Recent Documents </h3>
  
  <div class="container">
    <div class="row" style = "background-color: #f9f9f9;">
      <div class="col-12" style = "background-color: #f9f9f9;">
        <table class="table table" style = "width: 100%;">
          <thead>
            <tr>
              <th scope="col" style = "background-color: #f9f9f9; width: 15%;">Verification Status</th>
              <th scope="col" style = "background-color: #f9f9f9; column-width: 200px;">Document Name</th>
              <th scope="col" style = "background-color: #f9f9f9; column-width: 200px;">Date Received</th>
              <th scope="col" style = "background-color: #f9f9f9; text-align: center">Document file</th>
              
              
            </tr>
          </thead>
          <tbody>
            {% for Document in uploaded_files %}
            <tr>
              <td style="background-color: #f9f9f9; width: 40px">
                <div class="checkbox-wrapper-30">
                    {% if checkbox_data %}
                        <span class="checkbox">
                            <input type="checkbox" checked>
                            <svg>
                                <use xlink:href="#checkbox-30" class="checkbox"></use>
                            </svg>
                        </span>
                    {% else %}
                        <span class="checkbox">
                            <input type="checkbox">
                            <svg>
                                <use xlink:href="#checkbox-30" class="checkbox"></use>
                            </svg>
                        </span>
                    {% endif %}
                    <svg xmlns="http://www.w3.org/2000/svg" style="display:none">
                        <symbol id="checkbox-30" viewBox="0 0 22 22">
                            <path fill="none" stroke="currentColor" d="M5.5,11.3L9,14.8L20.2,3.3l0,0c-0.5-1-1.5-1.8-2.7-1.8h-13c-1.7,0-3,1.3-3,3v13c0,1.7,1.3,3,3,3h13 c1.7,0,3-1.3,3-3v-13c0-0.4-0.1-0.8-0.3-1.2"/>
                        </symbol>
                    </svg>
                </div>
              </td>
                <td style = "background-color: #f9f9f9; column-width: 200px;">{{Document.title}} </td>
                <td style = "background-color: #f9f9f9; column-width: 200px;">{{Document.date}}</td>
                <td style = "background-color: #f9f9f9; column-width: 200px; text-align: left;">
                  <a href="{{ Document.file }}">{{ Document.file }}</a>
                </td>
              </td>
            </tr>
            {% endfor %}
              
            
          </tbody>
        </table>
      </div>
    </div>
  </div>





{% endblock body%}

